<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Imperial Market</title>
    {# imports #}
    {% include 'imports/_css_import.html' %}
    {% include 'imports/_js_import.html' %}
</head>
<body class="bg-light">
{% include 'base/_nav.html' %}
<div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert mx-auto alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% from 'macros/macros.html' import form_field %}
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>