{% extends 'base/_base.html' %}
{% block content %}
    <h1>Artikel</h1>

    <table class="table table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th scope="col">Artikelnummer</th>
            <th scope="col">Hersteller</th>
            <th scope="col">Artikelname</th>
            <th scope="col">Preis</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <form action="" id="form" method="post">
            {{ form.hidden_tag() }}

            <tr>
                <th scope="row" class="text-center">#</th>
                <td>{{ form_field(form.producernumber) }}</td>
                <td>{{ form_field(form.articlename) }}</td>
                <td>{{ form_field(form.price) }}</td>
                <td>
                    <button type="submit" class="submit-btn btn btn-success">
                        <i class="fas fa-plus"></i> Hinzufügen
                    </button>
                </td>
            </tr>
        </form>

        {% for article in articles %}
            <tr>
                <th scope="row" class="text-center">{{ article.articlenumber }}</th>
                <td>{{ article.producer }}</td>
                <td>{{ article.articlename }}</td>
                <td class="text-center">{{ article.price }}
                    <img class="ms-1" src="{{ url_for('static', filename="img/imperial_credit.png") }}"
                         height="15" width="15">
                </td>
                <td>
                    <form action="{{ url_for('main.delete_article', id=article.articlenumber) }}" method="post">
                        <div class="btn-group">
                            <a class="btn btn-outline-secondary" type="button" data-bs-toggle="tooltip"
                               title="Hersteller"
                               href="{{ url_for('main.show_producer', id=article.producernumber) }}"><i
                                    class="fas fa-industry"></i></a>
                            <a class="btn btn-outline-dark" type="button" data-bs-toggle="tooltip"
                               title="Bearbeiten"
                               href="{{ url_for('main.edit_article', id=article.articlenumber) }}">
                                <i class="fas fa-wrench"></i></a>
                            <button type="submit" class="btn btn-outline-danger-sith" data-bs-toggle="tooltip"
                                    title="Löschen"><i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </form>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock content %}