{% extends 'base/_base.html' %}
{% block content %}
    <h1>Artikel</h1>
    {% for article in articles %}
        <p>
            {{ article.articlenumber }}
            {{ article.producer }}
            {{ article.articlename }}
            {{ article.price }}
        </p>
        <a class="btn btn-outline-success" type="button"
           href="{{ url_for('main.edit_article', id=article.articlenumber) }}">Bearbeiten</a>
        <form action="{{ url_for('main.delete_article', id=article.articlenumber) }}" id="form" method="post">
            <input type="submit" class="btn btn-outline-danger" value="Löschen">
        </form>
    {% endfor %}
{% endblock content %}