{% extends 'base/_base.html' %}
{% block content %}
<br>
<div class="card text-black bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header"><h1>{{ customer.firstname }} {{ customer.lastname }}</h1></div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-9">
                <p class="card-text">
                    Kundennummer: {{ customer.personnumber }} <br>
                    Adr.: {{ customer.street }} <br>
                    Stadt: {{ customer.place }} <br>
                    Land: {{ customer.country }} <br>
                </p>
            </div>
            <div class="col-md-3">
                <a class="btn btn-outline-success" type="button" data-bs-toggle="tooltip"
                   title="Land"
                   href="{{ url_for('main.show_country', name=customer.country) }}"><i class="fas fa-globe-europe"></i></a>
            </div>
        </div>
    </div>
</div>
<br>

<table class="table  table-bordered">
    <thead>
    <tr>
        <th scope="col">Bestellnummer</th>
        <th scope="col">Produktname</th>
        <th scope="col">Menge</th>
        <th scope="col">Gesamtsumme</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
    <tr>
        <th scope="row">{{ order.ordernumber }}</th>
        <td>{{ order.article }}</td>
        <td>{{ order.articlequantity }}</td>
        <td>{{ order.ordersum }}</td>
        <td><a class="btn btn-outline-success" type="button" data-bs-toggle="tooltip"
               title="Artikel"
               href="{{ url_for('main.show_article', id=order.articlenumber) }}"><i
                class="fas fa-dolly-flatbed"></i></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}