{% extends 'base/_base.html' %}
{% block content %}
<h1>Bestellungen von {{ customer.firstname }} {{ customer.lastname }} </h1>
<h2>Kundennummer: {{ customer.personnumber }}</h2>

<br>

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Bestellnummer</th>
        <th scope="col">Produktname</th>
        <th scope="col">Menge</th>
        <th scope="col">Gesamtsumme</th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
    <tr>
        <th scope="row">{{ order.ordernumber }}</th>
        <td><a href="{{ url_for('main.show_article', id=order.articlenumber) }}">{{ order.article }}</a></td>
        <td>{{ order.articlequantity }}</td>
        <td>{{ order.ordersum }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}