{% extends 'base/_base.html' %}
{% block content %}
<h1>Bestellungen von {{ customer.firstname }} {{ customer.lastname }} </h1>
        <h2>Kundennummer: {{ customer.personnumber }}</h2>

<table class="table table-bordered">
    {% for order in orders %}
        <tr>
    <th scope="row">{{ order.ordernumber }}</th>
            <td>{{ order.article }}</td>
            <td>{{ order.ordersum }}</td>
            <td>{{ order.articlequantity }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}