{% extends 'base/_base.html' %}
{% block content %}
    <br>
    <div class="card text-black bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><h1>{{ country }}</h1></div>
    </div>

    <br>

    <h3>Hersteller</h3>

    <table class="table table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Herstellername</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for producer in producers %}
            <tr>
                <th scope="row">{{ producer.producernumber }}</th>
                <td>{{ producer.producername }}</td>
                <td><a class="btn btn-outline-dark" type="button" data-bs-toggle="tooltip"
                       title="Hersteller"
                       href="{{ url_for('main.show_producer', id=producer.producernumber) }}"><i
                        class="fas fa-industry"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>

    <h3>Personen</h3>


    <table class="table table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Adress</th>
            <th scope="col">City</th>
            <th scope="col">Zipcode</th>
            <th scope="col">Birthday</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        {% for customer in customers %}
            <tr>
                <th scope="row">{{ customer.personnumber }}</th>
                <td>{{ customer.firstname }}</td>
                <td>{{ customer.lastname }}</td>
                <td>{{ customer.street }}</td>
                <td>{{ customer.place }}</td>
                <td>{{ customer.zipcode }}</td>
                <td>{{ customer.birthday }}</td>
                <td><a class="btn btn-outline-dark" type="button" data-bs-toggle="tooltip"
                       title="Kunde"
                       href="{{ url_for('main.show_customer', id=customer.personnumber) }}"><i
                        class="fas fa-tag"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}