{% extends 'base/_base.html' %}
{% block content %}
    <div class="container">
        <div class="row my-1">
            <h1 class="display-3 text-center">
                Willkommen beim Imperial Market <i class="fab fa-empire"></i>.
            </h1>
        </div>
        <div class="row">
            <p>Ihr Dienstleister für Produkte des alltäglichen Lebens im Galaktischen Imperium. Unsere Produkte umfassen
                sowohl
                Alltagsgegenstände wie Terminals, Scanner, Lebensmittel etc., als auch Produkte für den Fronteinsatz
                unserer
                Sturmtruppen, wie bpsw. Blaster, Thermaldetonatoren und Stimpacks.</p>
        </div>
        <div class="row">
            <div class="col text-center border rounded">
                <h4 class="display-6 my-1">
                    <a href="{{ url_for('main.articles') }}" class="text-sith">
                        <i class="fas fa-dolly-flatbed me-1"></i>Artikel</a>
                </h4>
                <hr class="mx-auto" style="width: 50%;">
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et
                    ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                    ipsum
                    dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                    dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
            </div>
            <div class="col text-center border rounded">
                <h4 class="display-6 my-1">
                    <a href="{{ url_for('main.producers') }}" class="text-sith">
                        <i class="fas fa-industry me-1"></i>Hersteller</a>
                </h4>
                <hr class="mx-auto" style="width: 50%;">
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et
                    ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                    ipsum
                    dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                    dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    Stet
                    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
            </div>
        </div>
    </div>
{% endblock content %}