{% extends 'base/_base.html' %}
{% block content %}
<h1>{{ producer.producername }}</h1>
<h3>Herstellernummer: {{ producer.producernumber }}</h3>
<h3>Herstellerland: <a href="{{ url_for('main.show_country', name=producer.country) }}">{{ producer.country }}</a></h3>

<br>

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Artikelnummer</th>
        <th scope="col">Artikelname</th>
        <th scope="col">Artikelpreis</th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles %}
    <tr>
        <th scope="row">{{ article.articlenumber }}</th>
        <td><a href="{{ url_for('main.show_article', id=article.articlenumber) }}">{{ article.articlename }}</a></td>
        <td>{{ article.price }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}