{% extends 'base/_base.html' %}
{% block content %}
    <h1>Hersteller</h1>

    <table class="table table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th scope="col">Herstellernummer</th>
            <th scope="col">Herstellername</th>
            <th scope="col">Herstellerland</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <form action="" id="form" method="post">
            {{ form.hidden_tag() }}

            <tr>
                <th scope="row" class="text-center">#</th>
                <td>{{ form_field(form.producername) }}</td>
                <td>{{ form_field(form.country) }}</td>
                <td>
                    <button type="submit" class="submit-btn btn btn-success">
                        Hinzufügen
                    </button>
                </td>
            </tr>
        </form>

        {% for producer in producers %}
            <tr>
                <th scope="row" class="text-center">{{ producer.producernumber }}</th>
                <td>{{ producer.producername }}</td>
                <td>{{ producer.country }}</td>
                <td>
                    <form action="{{ url_for('main.delete_producer', id=producer.producernumber) }}" method="post">
                        <div class="btn-group">
                            <a class="btn btn-outline-secondary" type="button" data-bs-toggle="tooltip"
                               title="Land"
                               href="{{ url_for('main.show_country', name=producer.country) }}"><i
                                    class="fas fa-globe-europe"></i></a>
                            <a class="btn btn-outline-dark" type="button" data-bs-toggle="tooltip"
                               title="Bearbeiten"
                               href="{{ url_for('main.edit_producer', id=producer.producernumber) }}"><i
                                    class="fas fa-wrench"></i></a>
                            <button type="submit" class="btn btn-outline-danger-sith" data-bs-toggle="tooltip"
                                    title="Löschen"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </form>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock content %}