{% extends 'base/_base.html' %}
{% block content %}
    <h1>{{ producer.producername }}</h1>
    <h3>Herstellernummer: {{ producer.producernumber }}</h3>
    <h3>Herstellerland: {{ producer.country }}</h3>
    <a class="btn btn-outline-success" type="button"
        href="{{ url_for('main.show_country', name=producer.country) }}">Herstellerland Anzeigen</a>
    <br><br>

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Artikelnummer</th>
        <th scope="col">Artikelname</th>
        <th scope="col">Artikelpreis</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles %}
    <tr>
        <th scope="row">{{ article.articlenumber }}</th>
        <td>{{ article.articlename }}</td>
        <td>{{ article.price }}</td>
        <td><a class="btn btn-outline-success" type="button"
               href="{{ url_for('main.show_article', id=article.articlenumber) }}">Produkt Anzeigen</a></td>
    </tr>
    {% endfor %}
    </tbody>
{% endblock content %}