{% macro form_field(field, required=False, form_classes='', label=False) %}
    {% if label %}
        {% if required %}
            <div class="form-group required">
            <strong>{{ field.label(class='control-label') }}</strong>
        {% else %}
            <div class="form-group">
            <strong>{{ field.label }}</strong>
        {% endif %}
    {% endif %}
{% if field.errors %}
    {{ field(class='form-control is-invalid' + form_classes) }}

    <div class="invalid-feedback">
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </div>
{% else %}
    {{ field(class='form-control ' + form_classes) }}
{% endif %}
</div>

{% endmacro %}